<!DOCTYPE html>
<head>
    <title>Start page</title>
</head>
<body>
    <h1>Welcome to the home page for Car Rental Service Inc. !</h1>
    <p>From here you can choose to order a car, cancel an existing booking, confirm a rental or return a rented car.</p>
    <br>
    <a href="/order">Order a car</a> <br>
    <a href="/confirm">Confirm a rental</a> <br>
    <a href="/cancel">Cancel an order</a> <br>
    <a href="/return">Return a car</a> <br>
    <br>
    <h2>If you're an employee, go to the login page below to manually access database </h2>
    <p><a href="/emplog/">Employee Login</a></p>
</body>